body {
  font-family: 'Roboto Mono', monospace;
  min-height: 854px;
  padding-bottom: 20vh;
  background: url(images/background.jpg);
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: 100% auto;
  background-position: center top;
}

.container {
  text-align: center;
  padding: 10px;
}

.page-title {
  color: #ffffff;
  margin: 5px 0;
}

h2 {
  color: white;
}

.resultado-final {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1rem;
  border: 2px solid black;
  background-color: black;
}

.--spacing {
  margin-left: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(53, 40, 88, 0.2);
  border-radius: 20px;
  padding: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
